# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Project outputs
/models/
!models/.gitkeep

/data/
!data/.gitkeep
*.sqlite3
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Testing / caches
.pytest_cache/
.mypy_cache/

# Environment files
.env
.env.*
.vercel
